/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    margin-bottom: 20px;
}

/* Estilo del formulario */
#vehicle-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form input, form button {
    margin: 10px 0;
}

/* Estilos para las cartas de vehículos */
.vehicle-card {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 300px;
}

.vehicle-card:hover {
    transform: scale(1.05);
}

.vehicle-card h3 {
    margin: 0;
    font-size: 18px;
    color: #dc3545;
}

.vehicle-card p {
    font-size: 14px;
    color: #555;
}

#vehicle-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

/* Contenedor de búsqueda */
#search-bar {
    margin-bottom: 20px;
}
